<div class="panel panel-default">
  <%= simple_form_for [@issue, @comment], remote: true do |f| %>
    <div class="panel-heading">
      <%= f.error_notification %>
      <%= f.hidden_field :issue_id %>
    </div>

    <div class="panel-body">
      <%= f.input :body, label: false, input_html: {id: "edit_issue_#{@issue.id}_comment_#{@comment.id}", class: 'col-xs-12', rows: '8', data: {provide: "markdown"}} %>
      <%= f.button :submit, class: 'btn btn-success btn-sm pull-right' %>
    </div>
  <% end %>
</div>