<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @subscription.issue %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= @subscription.subscriber_id %>
</p>

<p>
  <strong>Subscriber type:</strong>
  <%= @subscription.subscriber_type %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
