<% content_for :title do %>
  <%= @issueable.class.name + ' · ' if !@issueable.blank? %>Issues New
<% end %>

<h1>New Issue on <%= @issueable.name %></h1>

<%= simple_form_for(@issue) do |f| %>
    <%= f.error_notification %>

    <div class="panel panel-default">
      <div class="panel-heading">

        <%= f.input :title, label: false, hint: "Title", input_html: {class: 'form-control'} %>

      </div>

      <%= f.simple_fields_for :comments do |c| %>
        <div class="panel-body">
          <%= c.input :body, label: false, hint: 'Leave a comment', input_html: {class: 'col-xs-12', rows: '8', data: {provide: "markdown"}} %>
          <%= f.button :submit, class: 'btn btn-success btn-sm pull-right', style: 'margin-left: 5px;' %>
          <%= link_to 'Cancel', :back, class: 'btn btn-default btn-sm pull-right' %>
        </div>
      <% end %>
    </div>
<% end %>